body {
    background-color: lawngreen;
}
nav{
    text-align: center
}
h1 {
    background-color: yellow;
    border: 2px solid black;
    color:black;
    font-style: italic;
    border-radius: 100px;
    text-align: center;
}
h2{
    text-align: center;
}
dl{
    text-align: center;
    border: 2px solid black;
    font-size: large;
    background-color: lightblue;
    margin: 20px, 100px;
}
p{
    text-align: center;
    font-size: large;
}
footer{
    text-align: center;
}
td{
    font-size: x-large
}
caption{
    font-size: x-large
}
a:hover{
    color:green;
}
a:visited{
    color:red;
}
.bold{
    font-weight:bold;
}
.sideleft{
    float: left;
    padding-right: 20px;
}
.sideright{
    float: right;
    padding-right: 630px;
}
.middleimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.middleform{
    text-align: center;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    border: 2px solid black;
}
.middletable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.h2change{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 100px;
}
.job{
    font-size: large;
    font-style: italic;
}
.moreinfo{
    float: right;
}
.hid{
    border: 2px solid black;
}
.specialist{
    display: none;
}